@font-face {
  font-family: web;
  src: url(../fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

body {
  margin: 0;
  background: #141e30;
  font-family: web;
  user-select: none;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 7px;

  .logo {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #EEE;

    span {
      font-size: 25px;
    }
  }

  .options {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    & > * {
      margin: 0 5px;
    }

    input {
      font-size: 15px;
      padding: 3px;
      border-radius: 3px;
      border: none;
      outline: none;
      width: 130px;
    }

    .btn-login, .btn-signup {
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 5px 20px;
      border-radius: 18px;
      font-weight: bold;
    }

    .btn-login {
      background-color: #ed4635;
      color: #EEE;
    }

    .btn-signup {
      background-color: #fcd233;
      color: #111;
    }
  }
}

#navbar {
  background-color: #fbd133;

  [link] {
    display: inline-block;
    padding: 5px;
    margin: 0 30px;
  }
}

#banner {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow: hidden;
  cursor: pointer;
}

#search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
