<div class="game" view>
  <div class="title">
    <span>
      <span ng-if="vm.view.backgroundLoaded">You play</span>
      <i class="fas fa-cog fa-spin" ng-if="!vm.view.backgroundLoaded"></i>
    </span>
    &nbsp;{{vm.view.name}}
  </div>

  <img class="background" ng-src="{{vm.view.background}}">

  <div class="more-games" ng-show="vm.view.backgroundLoaded && vm.games.length> 1">
    <span>
      More&nbsp;
      <span ng-class="{'yellow': vm.moreGamesSelectorType == 'category', 'red': vm.moreGamesSelectorType == 'theme'}">
        {{vm.view.moreGamesSelector.slice(0, 1).toUpperCase()}}{{vm.view.moreGamesSelector.slice(1).toLowerCase()}}
      </span>
      <span ng-if="vm.view.moreGamesSelector.toLowerCase().indexOf('games') == -1">&nbsp;games</span>
    </span>
    <div id="game-list">
      <game ng-repeat="game in vm.games" 
        thumbnail="game.thumbnail" 
        ttitle="game.title" 
        provider="game.provider"
        features="game.features" 
        ng-click="vm.play(game)"
        ng-if="vm.view.name != game.title"></game>
    </div>
  </div>
</div>
