<div id="banner">
  <a href="http://ktsalikidis.000webhostapp.com/slots/client/">
    <img src="assets/img/banner.png">
  </a>
</div>

<div id="search-bar-container">
  <search-bar></search-bar>

  <div class="category-list">
    <div ng-repeat="category in vm.categories" ng-class="{'active': vm.category == category.id}"
      ng-click="vm.chooseCategory(category.id)">
      {{category.title}}
    </div>
  </div>
</div>

<div id="game-list">
  <game ng-repeat="game in vm.games"
    thumbnail="game.thumbnail"
    title="game.title"
    provider="game.provider"
    ng-click="vm.play(game)"></game>

  <div class="btn-more" ng-show="vm.games.length < vm.data.length" ng-click="vm.loadMore()">
    More Games
  </div>
</div>
