<div id="banner">
  <a href="https://sloticon.onrender.com/">
    <img src="assets/img/banner.png">
  </a>
</div>

<div id="search-bar-container">
  <search-bar ng-model="vm.view.search.value" on-input="vm.search"></search-bar>

  <div class="category-list" ng-show="vm.view.filter.type == 'categories'">
    <div ng-repeat="category in vm.categories" ng-class="{'active': vm.category == category.id}"
      ng-click="vm.chooseCategory(category.id)">
      {{category.title}}
    </div>
  </div>

  <div class="theme-list" ng-show="vm.view.filter.type == 'themes'">
    <div ng-repeat="theme in vm.themes track by $index" ng-class="{'active': vm.theme == theme.id}"
      ng-show="$index <= vm.view.themeShowCount"
      ng-click="vm.chooseTheme(theme.id)">
      {{theme.title.slice(0, 1).toUpperCase()}}{{theme.title.slice(1).toLowerCase()}}
    </div>
    <div class="btn-show-more-themes" 
      ng-show="vm.view.themeShowCount < vm.themes.length" 
      ng-click="vm.view.themeShowCount = vm.view.themeShowCount + 10">more...</div>
  </div>

  <div class="btn-show-categories" ng-show="vm.view.filter.type == 'themes'" ng-click="vm.view.filter.type = 'categories'">Categories</div>

  <div class="btn-show-themes" ng-show="vm.view.filter.type == 'categories'" ng-click="vm.view.filter.type = 'themes'">Themes</div>
</div>

<div id="game-list" ng-class="{'bottom-offset': vm.games.length >= vm.data.length}">
  <game
    ng-repeat="game in vm.games"
    thumbnail="game.thumbnail"
    ttitle="game.title"
    provider="game.provider"
    features="game.features"
    ng-click="vm.play(game)"
  ></game>
</div>

<div class="btn-more" ng-show="vm.games.length < vm.data.length" ng-click="vm.loadMore()">
  More Games
</div>
